html {
}

body {
	background-image: linear-gradient(#F9E1E0, #FEADB9, #BC85A3, #9799BA, #BC85A3);
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

section {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	width: 100%;
	margin: 0px;
	border: 0px;
	padding: 0px;
}
@media screen and (min-width: 530px) {
	section {
		width: 90%;
	}
}
@media screen and (min-width: 640px) {
	section {
		width: 75%;
	}
}
section > h1,h2 {
	text-align: center;
}

.intro-card {
	align-items: center;
}
@media screen {
	.intro-card > h1 {
		background-image: url(media/logo.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		flex-grow: 1;
		width: 100%;
		max-width: 2082px;
		max-height: 2223px;
		color: transparent;
		user-select: none;
	}
}

.gallery {
	display: flex;
	flex-flow: row nowrap;
	overflow-x: scroll;
}
.gallery > a > img {
	object-fit: contain;
	max-height: 150px;
	margin: 5px;
}
.gallery > a:focus > img {
	opacity: 0.5;
}
.gallery-selection {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	max-height: 100%;
}
.gallery-selection > div {
	display: none;
	background-color: lightsalmon;
}
.gallery-selection > div:target {
	display: block;
}

iframe {
	flex-grow: 1;
	/*
	width: 640px;
	height: 480px;
	*/
}
