:root {
	--max-content-width: 950px;

	--gradient-0: #F9E1E0;
	--gradient-1: #FEADB9;
	--gradient-2: #BC85A3;
	--gradient-3: #9799BA;
	--gradient-4: #BC85A3;
	--gold-text: #AE7340;

	--lighter-bg-color: var(--gradient-0);
	--lighter-text-color: var(--gold-text);
	--darker-bg-color: var(--gradient-1);

	/*
	dimensions:
		phone:
			width  360px .. 530px
			height 760px .. 926px
		tablet:
			width  800px .. 810px
			height 1080px .. 1280px

	width=360px is minimum width for single-column layout.
	width=530px is maximum width of phones where single-column is probably preferred.
	width=720px can be breakpoint for switching to two-column layout. This should
	use two columns on both portrait tablets and landscape phones.
	*/

	--form-field-gap: 0.3rem;
}

html {
}

body {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	color: var(--lighter-text-color);
	background-color: var(--lighter-bg-color);
}

section {
	width: 100%;
	max-width: var(--max-content-width);
	margin: 0px;
	border: 0px;
	padding: 0px;
}
section > h1,h2 {
	text-align: center;
}
@media (min-width: 720px) {
	section {
		width: calc(100% - 2em);
	}
}

#intro-card {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	max-height: 100vh;
}
#intro-card > picture {
	width: 100%;
	max-width: var(--max-content-width);
	max-height: 75vh;
	aspect-ratio: 950 / 1014;
	margin: 0;
}
#intro-card > picture > source, #intro-card > picture > img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
#intro-card > span {
	display: block;
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 0.4em;
	margin: 0.5em;
	text-align: center;
}
#intro-card > span.date {
	font-weight: bold;
}

#story {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
#story em {
	text-transform: uppercase;
	font-style: normal;
}
.gallery {
	max-width: var(--max-content-width);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: auto;
}
.gallery > img {
	max-height: min(40vw, 400px);
	object-fit: contain;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
	margin: 4px 11px 16px 4px;
	cursor: pointer;
}

.modal-background {
	overflow: hidden;
}

#lightbox {
	display: none;
}
#lightbox.visible {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 80px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	cursor: pointer;
	color: white;
}
#lightbox > picture {
	max-width: 100%;
	max-height: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}
#lightbox > picture > img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 5px;
	box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
	object-fit: cover;
}

#info {
	display: flex;
	flex-flow: column nowrap;
}
#info > div {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
#info > div > iframe {
	width: 90%;
	max-width: 640px;
	aspect-ratio: 4/3;
	border-radius: 5px;
	box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
	margin: calc(8px + 3px + 5px);
}
@media (min-width: 720px) {
	#info {
		display: grid;
		column-gap: 1em;
		grid-template-columns: calc(50% - 0.5em) calc(50% - 0.5em);
		grid-template-rows: max-content max-content max-content;
	}
	#info > div:first-child {
		grid-column: 1 / span 2;
	}
	#info > div:last-child {
		grid-column: 1 / span 2;
	}
	#info > div > p {
		flex-grow: 1;
	}
}

#form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#form > form {
	width: fit-content;
	display: grid;
	row-gap: var(--form-field-gap);
	column-gap: var(--form-field-gap);
	grid-template-rows: max-content;
	grid-template-columns: max-content;
}
#form > form > label {
	width: min(100vw, 20rem);
}
#form > form > label.label-block > * {
	display: block;
	box-sizing: border-box;
	width: min(100vw, 20rem);
}
#form > form > input[type=submit] {
	box-sizing: border-box;
	width: min(100vw, 10rem);
	justify-self: center;
}
#form > form > label > textarea {
	resize: vertical;
}
@media (min-width: 30rem) {
	#form > form {
		grid-template-rows: max-content;
		grid-template-columns: max-content max-content;
	}
	#form > form > .form-col-left {
		grid-column: 1 / span 1;
	}
	#form > form > .form-col-right {
		grid-column: 2 / span 1;
	}
	#form > form > .form-col-both {
		grid-column: 1 / span 2;
	}
	#form > form > label {
		width: inherit;
	}
	#form > form > label.label-block.form-col-left > *,
	#form > form > label.label-block.form-col-right > * {
		width: min(50vw - 0.5*var(--form-field-gap), 20rem - 0.5*var(--form-field-gap));
	}
	#form > form > label.label-block.form-col-both > * {
		width: min(100vw, 40rem);
	}
}
