:root {
	--gradient-0: #F9E1E0;
	--gradient-1: #FEADB9;
	--gradient-2: #BC85A3;
	--gradient-3: #9799BA;
	--gradient-4: #BC85A3;
	--gold-text: #AE7340;

	--lighter-bg-color: var(--gradient-0);
	--lighter-text-color: var(--gold-text);
	--darker-bg-color: var(--gradient-1);

	/*
	dimensions:
		phone:
			width  360px .. 530px
			height 760px .. 926px
		tablet:
			width  800px .. 810px
			height 1080px .. 1280px

	width=360px is minimum width for single-column layout.
	width=530px is maximum width of phones where single-column is probably preferred.
	width=720px can be breakpoint for switching to two-column layout. This should
	use two columns on both portrait tablets and landscape phones.
	*/
}

html {
}

body {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	color: var(--lighter-text-color);
	background-color: var(--lighter-bg-color);
}

section {
	width: 100%;
	max-width: 950px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}
section > h1,h2 {
	text-align: center;
}

#intro-card {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	min-height: 100vh;
	max-height: 100vh;
}
#intro-card > h1 {
	background-image: url(media/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	flex-grow: 1;
	width: 100%;
	max-width: 2082px;
	max-height: 2223px;
	color: transparent;
	text-shadow: none;
	user-select: none;
}
#intro-card > span {
	display: block;
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 0.4em;
	margin: 0.5em;
}
#intro-card > span.date {
	font-weight: bold;
}

#story {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.gallery {
	max-width: 950px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: auto;
}
.gallery > a {
	text-decoration: none;
	margin: 4px 11px 16px 4px;
}
.gallery > a > img {
/*	max-height: 150px;*/
	max-height: min(40vw, 400px);
	object-fit: contain;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
}

.lightbox {
	display: none;
}
a.lightbox {
	text-decoration: none;
	color: inherit;
}
.lightbox:target {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 80px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	z-index: 0;
	box-sizing: border-box;
}
.lightbox > picture {
	display: flex;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	z-index: -1;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
	box-sizing: border-box;
}
.lightbox > picture > img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
.lightbox > div {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}

#info {
	display: flex;
	flex-flow: column nowrap;
}
#info > div {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
#info > div > iframe {
	width: 90%;
	max-width: 640px;
	aspect-ratio: 4/3;
	border-radius: 5px;
	box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
	margin: calc(8px + 3px + 5px);
}

@media (min-width: 720px) {
	section {
		width: calc(100% - 2em);
	}
	#info {
		display: grid;
		column-gap: 1em;
		grid-template-columns: calc(50% - 0.5em) calc(50% - 0.5em);
		grid-template-rows: max-content max-content max-content;
	}
	#info > div:first-child {
		grid-column: 1 / span 2;
	}
	#info > div:last-child {
		grid-column: 1 / span 2;
	}
	#info > div > p {
		flex-grow: 1;
	}
}
